<%= form_with(model: salary_datum, local: true) do |form| %>
  <% if salary_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary_datum.errors.count, "error") %> prohibited this salary_datum from being saved:</h2>

      <ul>
      <% salary_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :low %>
    <%= form.number_field :low %>
  </div>

  <div class="field">
    <%= form.label :high %>
    <%= form.number_field :high %>
  </div>

  <div class="field">
    <%= form.label :is_employer %>
    <%= form.check_box :is_employer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
