<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @salary_datum.email %>
</p>

<p>
  <strong>Low:</strong>
  <%= @salary_datum.low %>
</p>

<p>
  <strong>High:</strong>
  <%= @salary_datum.high %>
</p>

<p>
  <strong>Is employer:</strong>
  <%= @salary_datum.is_employer %>
</p>

Link to share: /<%= @salary_datum.salary_overlap.linkguid %>
